<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <!-- MIME types para WebP -->
        <staticContent>
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
        </staticContent>

        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>

         <handlers>
            

            <!-- Agrega el handler nuevo apuntando a PHP 8.x -->
            <add name="PHP-8.1-FastCGI"
                 path="*.php"
                 verb="*"
                 modules="FastCgiModule"
                 scriptProcessor="C:\wamp\bin\php\php8.3.27\php-cgi.exe"
                 resourceType="Either"
                 requireAccess="Script" />
        </handlers>

    </system.webServer>
</configuration>